@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    width: 100%;

    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

    color: black;
}

h1 {
    text-transform: uppercase;

    font-size: 46px;
}

canvas {
    display: block;
}

iframe {
    width: 600px; 
    height: 500px; 
    border-radius: 50px;
}

.container {
    background-image: url("../image/title.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;

    height: 100%;
}

.block {
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.pulsate:hover {
    opacity: 1;
    animation-iteration-count: unset;
}

/*Шапка сайта*/

.header {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100px;
    background-image: url("../image/title.jpg");
}

.logo {
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

@keyframes swing {
    15% {
    transform: translateX(5px);
    }
    30% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(3px);
    }
    65% {
    transform: translateX(-3px);
    }
    80% {
    transform: translateX(2px);
    }
    100% {
    transform: translateX(0);
    }
}

.logo_img {
    height: 80px;
    width: 150px;
}

.navigation {
    display: block;
    width: 800px;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.point-navigate a {
    position: relative;
    cursor: pointer;
    line-height: 1;
}

.point-navigate a::after {
    display: block;
    position: absolute;

    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 2px;
    background-color: rgb(231, 222, 135);
    content: "";
    z-index: 4;
    transition: width 0.5s ease-in;
}

.point-navigate a:hover::after,
.point-navigate a:focus::after {
    width: 100% /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/;
}

/*Бургер для навигации*/

.burger_container {
    display: none;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    display: block;
    position: relative;
    cursor: pointer;

    border: none;
    background: transparent;

    width: 40px;
    height: 26px;

    margin: 30px auto;
}

.burger::before,
.burger::after {
    position: absolute;
    display: block;

    content: '';
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: rgb(179, 163, 23);
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 black;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(255, 249, 249, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.navigation-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    content: "";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);

    text-align: center;
}

.navigation-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    margin: 0;
    padding: 0;
}

.navigation-mobile li {
    margin-bottom: 30px;
}

.navigation-mobile a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.container_hidden {
    display: none;
}

/*Секция с контетом*/

.content {
    width: 100%;
}

.title_Abelint {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 820px;

    text-align: center;
}

#dotsTitle {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 200px;

    pointer-events: none;
}

.title_Abelint ul {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    font-size: 20px;
}

.li_title {
    margin: 1px;
}

.box_abelint {
    margin-top: 10%;

    visibility: visible;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;

    color: white;

    padding-top: 50px;
    padding-bottom: 50px;
}

.image_info {
    width: 50px;
    height: 50px;
}

.tech {
    margin-top: 100px;
}

.container_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-top: 20px;

    text-align: center;

    padding-bottom: 100px;
}

.container_image_text {
    position: relative;
}

.location_image {
    display: block;

    width: 600px;
    height: 850px;

    border-radius: 50px;

    transition: all 0.5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.middle {
    position: absolute;

    transition: all 0.5s ease;
    opacity: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.middle p {
    font-size: 32px;
    font-weight: 700;
}

.container_image_text:hover .location_image,
.container_image_text:focus .location_image {
    opacity: 0.3;
}

.container_image_text:hover .middle,
.container_image_text:focus .middle {
    opacity: 1;
}

.box_content h2 {
    font-size: 50px;
}

.command {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    color: white;
}

.children {
    margin: 50px;

    text-align: center;
}

.children p {
    width: 400px;
}

.people {
    width: 100px;
    height: 100px;

    border-radius: 100px;
}

/*Подвал*/

.footer {
    height: 100%;
    width: 100%;

    background-color: black;
    color: white;

    text-align: center;
}

.footer h2 {
    font-size: 40px;

    padding-top: 50px;
    margin: 0;
}

.footer p {
    font-size: 24px;
    font-weight: 700;
}

.footer_navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin: 0;
    padding: 0;
}

.footer_navigation a {
    color: white;

    font-size: 28px;
    text-transform: uppercase;
}

/*Прелоадер*/

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}
  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

.box_abelint ul {
    display: flex;
    flex-wrap: wrap;
}

.waves {
    position:relative;

    width: 100%;
    height: 15vh;

    
    margin-top: 100px;
    margin-bottom: -7px; /*Fix for safari gap*/

    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }

    100% { 
      transform: translate3d(85px,0,0);
    }
}

/*Адапатив*/

@media (max-width: 1000px) {
    canvas {
        display: none;
    }

    .header {
        justify-content: start;
    }

    .navigation {
        display: none;
    }

    .burger_container {
        display: block;

        position: absolute;
        top: 0;
        left: 90%;
        z-index: 3;
        content: "";

    }

    .title_Abelint {
        display: block;
    }
}

@media (max-width: 620px) {
    iframe {
        width: 100%;
    }

    .box_content h2 {
        font-size: 20px;
    }

    .location_image {
        width: 100%;
    }

    .children p {
        width: 100%;
    }

    .footer_navigation ul li {
        margin: 10px;
    }
}